.ditu{
	width: 392px;
	height: 330px;
	margin-top: 10px;
	float: left;

}
.ditu2{
	width: 193px;
	height: 30px;
	font-size: 15px;
	float: left;
	border: 1px solid #BEBEBE;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	text-align: center;
	padding-top: 10px;
	color: gray;

}
.ditu-img{
	padding-top: 50px;
	border: 1px solid #BEBEBE;
	border-top:none;
	padding-bottom: 18px;
	border-radius: 7px;
}
.ditu3{
	width: 193px;
	height: 30px;
	font-size: 15px;
	float: right;
	border: 1px solid #BEBEBE;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	text-align: center;
	padding-top: 10px;
	color: gray;
}
.ditu2>span,.ditu3>span{
	font-size: 20px;
	margin-left: 5px;

}
.ditu5{
	float: right;
	color: gray;
	margin-right: 10px;

}
.ditu2:hover,.ditu3:hover{
	color: red;
}
.ditu5:hover{
	color: red;
}

.ditu-img>img{
	width: 366px;
	margin-left: 14px;
	margin-top: 20px;
}
.dituxian{
	margin-bottom: 20px;
}
.ditu-xian>span{
	display: inline-block;
	width: 54px;
	height: 20px;
	margin-left: 15px;
	color: gray;
	border-radius: 7px;
	text-align: center;
	margin-top: 20px;
	padding-top: 5px;
	font-size: 15px;
	
}
.bbs{
	width: 340px;
	height:370px; 
	margin-left:400px;
	position: relative;
	top: 10px;
	border-radius: 7px;
	border: 1px solid #BEBEBE;
	}
.bbs1{
		width: 320px;
		height: 30px;
		margin-left: 10px;
		padding-top: 10px;
	}
.bbs1>h3{
	margin-left: 10px;

}
.bbs1>img{
	float: right;
	position: absolute;
	top: 20px;
	right: 20px;

}
.bbs2{
	width: 320px;
	height: 50px;
	background: red;	
	margin-left: 10px;
	margin-top: 10px;
	padding-top: 20px;
	border-radius: 7px;
}
.bbs2>img{
	margin-left: 10px;
	margin-top: -10px;
	margin-right: 10px;
	float: left;
}
.bbs3>h3{
	font-size: 17px;
	font-weight: bold;
	color: white;
	margin-bottom: 10px;
	margin-top: -5px;
}
.bbs3>p{
	font-size: 12px;
	color: white;
}
.one{
	color: white;
	float: right;
	font-size: 20px;
	font-weight: bold;
	
}
.one>h2{
	margin-top: -10px;
	margin-right: 10px;
	
}
.bbs-text{
	width: 320px;
	height: 25px;
	background: #E0E0E0	;
	margin-left: 10px;
	margin-top: 5px;
	border-radius: 7px;
	text-align: center;
	padding-top:10px;


}
.bbs-text1{
	color: red;
	float: left;
	margin-left: 20px;
	
}	
.bbs-text2{
	font-size: 15px;
	
	
}
.bbs-text3{
	font-size: 14px;
	float: right;
	margin-right: 20px;
	color: gray;
	

}
.xuancai>img{
	width: 743px;
}
.xuancai{
	margin-top: 20px;
	margin-left: -400px;

}
.zhidaofenzi{	
	width: 392px;
	height: 300px;
	margin-left: -400px;
	margin-top: 10px;
	border-radius: 7px;
	border: 1px solid #BEBEBE;
	position: relative;

}
.zhidaobiaoti{
	width: 370px;
	height: 30px;
	margin-left: 10px;
	padding-top: 10px;
}
.zhidaobiaoti>img{
	float: right;
	margin-top: -17px;
}
.zhidaobiaoti>h3{
	font-size: 15px;
	color: red;
	font-weight: bold;
}
.zhidaobiaoti>h3>span{
	font-size: 20px;
	margin-left: 8px;
	color: black;
}
.zhidaoxuanze{
	margin-left: 10px;
}

.zhidaoxuanze>p{
	float: left;
	width: 122px;
	height: 25px;
	border: 1px solid #F0F0F0;
	text-align: center;
	padding-top: 10px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	color: gray;
	font-weight: bold;
	
}
.xuanze1:hover span{
	color: black;
}
.zhidaoxuanze>p>span{
	margin-right: 10px;
}
.xuanze1:hover{

	border-bottom: none;
	color: red;
}
.zhidaoa{
	width: 370px;
	height: 20px;
	margin-top: 40px;
	margin-left: 10px;
	padding-top: 10px;
	font-size: 13px;
	color: gray;
}
.zhidaoa1{
	margin-left: 140px;
}
.zhidaoa2{
	margin-left: 160px;
}
.zhidaoul{
	width: 370px;
	height: 15px;
	margin-left: 10px;
	margin-bottom: 5px;
	margin-top: -5px;

}
.zhidaoul>ul{
	margin-left: 30px;
	list-style-type: red;
}
.zhidaoul>ul>li>a{
	color: black;
	font-size: 15px;
	
}
.zhidaoul>ul>li>img{
	float: right;
	margin-top: 5px;
	margin-right:20px; 
}
.ul1{
	color: gray;
}
.ul1>span{
	color: red;
}
.sousou>form>h3{
	position: absolute;
	top: -65px;
	left: -100px;
	font-size: 18px;
	font-weight: bold;
}
.sousou>form>input{
	width: 150px;
	position: absolute;
	top: -67px;
	left: 10px;
	border-radius:0px;
	color: gray;
}
.sousou>form{
	position: absolute;
	top: 330px;
	left: 140px;
}
.go{	
	position: absolute;
	right: 60px;
	bottom: 13px;
}
.meinvtu{
	width: 340px;
	height: 300px;
	border: 1px solid #BEBEBE;
	margin-left:400px;
	position: relative;
	top: -248px;
	border-radius: 7px;
}
.meinvtu1{
	width: 320px;
	height: 35px;
	margin-left: 10px;
	padding-top: 10px;
}
.meinvtu1>h3{
	color: red;
	font-size: 15px;
	margin-left: 10px;


}
.meinvtu1>h3>span{
	color: black;
	font-size: 20px;
	margin-left: 10px;
}
.meinvtu1>img{
	float: right;
	margin-top: -15px;
}
.meinvtu2{
	width: 322px;
	height: 240px;
	margin-left: 10px;

}

