*{
	margin:0px;
	padding: 0px;
}

.main{
	width: 1000px;
	/*border: 10px solid black;*/
	margin: 0px auto;
	position: relative;	
	

}



.toubuimg{
	float: right;
	margin-right: 10px;
	}

.dizhi span{
	color: #6e6e6e;
	font-size: 14px;

}
.dizhi span:hover{
	color:#d60d03; 
}
.dizhi>span{
	padding-left: 15px;

}

.daohang{
	width: 100%;
	margin-top: 15px;
	}

.daohangtu{
	float: left;
	padding-left: 10px;
	height: 55px;
	width: 60px;
	

	}
.daohangtu>img:hover{
	width: 50px;
	height: 50px;
	background-image: url("img/14.png");
	background-color:red;
	border: 1px solid red;
	border-radius: 22px;
}

.daohangtu>p,.daohangtu1>p{
	text-align: center;
	font-size: 12px;
	width: 69px;
	
	margin-left:-9px;
}
.daohangtu1{
	float: left;
	margin-left: 14px;
	height: 50px;
	width: 54px;
	
	

	
}

.daohangtu1>img:hover{
	width: 48px;
	height: 50px;
	background-color: red;
	border: 1px solid red;
	border-radius: 22px;

}

.logo{
	float: left;
	padding-left: 40px;
	padding-right: 40px;
	

}
.sousuo{
	margin-top: 40px;
}
.sousuo1{	
	position: absolute;
	left: 250px;
	top: 109px;
	background: white;
}

.sousuo1>span{
	font-size: 14px;
	display: inline-block;
	width: 80px;
	height: 20px;
	color: black;
	border: 1px solid #f8d0bf;
	text-align: center;
	margin-right: -3px;
	font-weight: bolder;
	padding-top: 6px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-width: 0px;
	
}
.sousuo1>span:hover{
	background-color: #e21c01;
	color: white;
}
.sousuo2{
	width: 100%;
	height: 80px;
	background-color: #e21c01;
	border-radius: 10px;
	position: relative;
	z-index: 1;


}
form{
	position: absolute;
	left: 250px;
	top: 30px;

}
form input{
	width: 410px;
	height: 20px;
	background-color: white;
	border-radius: 7px;
	
	
}
.yibaidu{
	position: absolute;
	z-index: 2;
	left: 50px;
	top: 120px;

}
.dianji{

	position: absolute;
	left: 670px;
	top: 165px;
	z-index: 3;
	color: black;
	width: 70px;
	height: 20px;
	background: white;
	border-radius: 10px;
	padding-bottom: 5px;
	
}
.dianji>img{
	margin-left: 10px;	
	margin-top: 4px;
}
.dianji1{
	display: inline-block;
	font-size: 14px;
	color: black;
	font-weight: bolder;
	position: absolute;
	top: 6px;
	left: 35px;
}
.dianji1:hover{
	background: yellow;
}
.youce{
	width: 213px;
	position: absolute;
	left: 755px;
	top: 160px;
	z-index: 5;
	font-size: 13px;
	color: white;
	line-height: 18px;}
.head-foot{
	margin-left: 240px;
	font-size: 14px;
	margin-top: 10px;
}
.head1{
	width: 100%;
	height: 130px;
	background-color: pink;

}
.border1{
	width: 999px;	
	height: 130px;
	
	position: absolute;
	top: 115px;
	border:1px solid gray;
	border-radius: 20px;
	z-index: -20;
	
	
} 
/*头部结束*/

